.gradle
.kotlin
.idea
build
local.properties
app/build
build.gradle
app/release
Library/build/
Library/dist/
Library/nbproject/private/private.xml
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
keystore.properties
*.jks
*.keystore
